@media (max-width: 320px){
    .cards{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
    }
    main{
        height: 100%;
    }
    .card1{
        margin-bottom: 20px;
        
    }
    .cards input{
        border-radius: 5px;

    }
    .card2{
        margin-top: 20px;
       
    }
    .input .select{
        width: 250px;
        background-color: black;
    }
    
    .botaochutar .botaocomecar{
        width: 240px;
    }
    
}